@import "../../../scss/styles.scss";

.mainheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.mainheader__title {
    text-decoration: none;
    h1 {
        color: papayawhip;
    }
}

.mainheader__links {
    display: flex;
    align-items: center;
    h2 {
        font-size: 18px;
        color: papayawhip;
    }
}

:export {
    block: mainheader;
    blockTitle: mainheader__title;
    blockLinks: mainheader__links;
}
