@import '../../../scss/styles';

$block: lighthouse;
$blockContent: elem($block, content);
$blockTablet: modifier($block, tablet);
$blockSmallMobile: modifier($block, small-mobile);

.#{$block} {
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 20px;
  background-color: $color-ivory;
  border: $ws-border-light;

  &__content {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &--tablet {
    margin-right: 0;
    margin-left: 0;
  }

  &--small-mobile {
    border: 0;
  }

  &--small-mobile > div.lighthouse__header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

:export {
  block: $block;
  blockTablet: $blockTablet;
  blockSmallMobile: $blockSmallMobile;
  blockContent: $blockContent;
}
