@import '../../../scss/styles.scss';


//TODO: at 380px - flex-direction column for Tabs, height for indivdiaul tabs 34px

.lighthouse__wrapper {
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 10px;
  border: $ws-lighthouse-border-light;
  background-color: $color-lighthouse-background;
  h1 {
    padding: 0px 20px;
  }
}

.lighthouse__wrapper-tablet {
  margin-right: 20px;
}

.lighthouse__header {
  display: flex; 
  height: 120px;
  padding: 20px 40px;
  border-bottom: $ws-lighthouse-border-light;
}

.lighthouse__content {
  display: flex; 
  flex-direction: column;
  height: auto;
}

.lighthouse__results {
  padding-left: 20px;
  font-size: 13px;
  > p:first-child {
    padding-top: 15px;
  }
  > p {
    padding-bottom: 15px;
  }
  > p > span {
    font-weight: 600;
    padding-right: 5px;
  }
}


//TODO: at 700 tabs 54px height and container no margin nor padding
.lighthouse__tabs {
  display: flex; 
  width: 100%;
  height: 44px;
  background-color: $color-lighthouse-background-dark;
}

.lighthouse__tabs-mobile {
  height: 54px;
}


.lighthouse__tabsitem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: $color-lighthouse-background-dark;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0px 5px;
  font-size: 12px;
  
}

.lighthouse__tabsitem:not(:last-child) {
  border-right: $ws-lighthouse-border-light;
}

.lighthouse__tabsitem:hover {
  background-color: $color-top-background;
  opacity: .8;
  color: white;
}

.lighthouse__active {
  background-color: $color-top-background;
  color: white;
}

:export {
    blockWrapper: lighthouse__wrapper;
    blockWrapperTablet: lighthouse__wrapper-tablet;
    blockHeader: lighthouse__header;
    blockContent: lighthouse__content;
    blockResults: lighthouse__results;
    blockTabs: lighthouse__tabs;
    blockTabsMobile: lighthouse__tabs-mobile;
    blockTabsItem: lighthouse__tabsitem;
    blockActive: lighthouse__active;
}