@import "../../../scss/styles.scss";

.inputbutton__wrapper {
    display: block;
    padding: 16px;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    &--inactive {
      background-color: rgba(55,71,133,.8);
      &:active {
        transform: translateY(2px);
        background-color:rgba(55,71,133,1)
      }
    }
    &--loading {
        background-color: $color-warning-loading;
    }
    &--error {
      background-color: $color-bottom-background;
    }
    &--success {
      background-color: $color-green-success;
    }
}

:export {
  block: inputbutton__wrapper;
  blockInactive: inputbutton__wrapper--inactive;
  blockLoading: inputbutton__wrapper--loading;
  blockError: inputbutton__wrapper--error;
  blockSuccess: inputbutton__wrapper--success;
}