@import '../../../scss/styles';

$block: signin-wrapper;

.#{$block} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: auto;
}

:export {
  block: $block;
}
