@import '../../../scss/styles';

$block: signin;
$blockForm: elem($block, form);

.#{$block} {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;

  span {
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

:export {
  block: $block;
  blockForm: $blockForm;
}
