
.signin { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;
    height: inherit;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    span {
        margin-bottom: 20px;
    }
}

.signin__form { 
    display: flex;
    flex-direction: column;    
}

.signin__input {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
 }

 .signin__button {
    width: 230px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6px 15px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    &--warm {
        background: #EE9BA3;
    }
    &--cold {
        background: #B8d1CB;
    }  
 }

 

:export {
    block: signin;
    blockForm: signin__form;
    blockInput: signin__input;
    blockButton: signin__button;
    blockButtonWarm: signin__button--warm;
    blockButtonCold: signin__button--cold;
}