  .chart-wrapper {
   width: 70px;
   height: 70px;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: #fff0d8;
    stroke: #ffda9d;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 3.6;
    stroke-linecap: round;
    animation: progress 1.5s ease-out forwards;
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .percentage-text {
    fill:#ff9f00;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-anchor: middle;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }