@import '../../../../scss/styles';

$block: nav-close;

.#{$block} {
  font-size: 20px;
  font-weight: 700;
  color: $color-grey;
  cursor: pointer;
  transform: translateY(-3px);
}

:export {
  block: $block;
}
