@import '../../../scss/styles.scss';

.resultsbottom__wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: $color-bottom-background;
}

.resultsbottom__content-wrapper {
    padding: 0px 30px;
    > h1 {
      color: lightgrey;
    }
    > p:nth-child(2) {
      color: lightgrey;
    }
    > p:nth-child(3) {
      color: ivory;
      span {
        color: ivory;
      }
    }
}

:export {
    blockWrapper: resultsbottom__wrapper;
    blockRow: resultsbottom__row;
    contentWrapper: resultsbottom__content-wrapper;
}