@import '../../../scss/styles.scss';

h1 { color: white; }

.inputcard__btn-wrapper { display: flex; }

.inputcard__wrapper {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $color-main-background;
    padding-left: 20px;
}

.inputcard__wrapperinner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}

.inputcard__sub-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: max-content;
}

.inputcard__header {
    display: flex;
    align-items: center;
}

:export {
    block: inputcard__wrapper;
    blockInner: inputcard__wrapperInner;
    btnWrapper: inputcard__btn-wrapper;
    subWrapper: inputcard__sub-wrapper;
    headerWrapper: inputcard__header;
  }