@import '../../../scss/styles.scss';

.inputcard__wrapper {
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: $color-main-background;
    padding-left: 20px;
}

.inputcard__sub-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: max-content;
}
