@import '../../../scss/styles.scss';

.resultsbottom__wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: $color-bottom-background;
}

.resultsbottom__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}