
.button__wrapper {
    padding-right: 20px;
    cursor: pointer;
  
}

.button__bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
}

:export {
    blockWrapper: button__wrapper;
    blockBar: button__bar;
}