
.navigation__wrapper {
    position: absolute;
    display: block;
    top:0;
    left:-300px;
    width: 300px;
    height: 100vh;
    background-color: white;
    z-index: 100;
}

.navigation__close {
    padding: 20px;
    cursor: pointer;
}