@import '../../../../scss/styles';

$block: lighthouse-results;

.#{$block} {
  height: 200px;
  padding-left: 20px;
  font-size: em(13);
  color: $color-small-font;

  > p {
    padding-bottom: 15px;
  }

  > p:first-child {
    display: flex;
    padding-top: 15px;
  }

  > p:not(:first-child) {
    display: flex;
    align-items: center;
  }

  > p:first-child > span {
    padding-right: 5px;
  }

  > p > span:nth-child(2) {
    margin-left: 5px;
  }
}

:export {
  block: $block;
}
