@import '../../scss/styles.scss';

$block: signin-btn;
$blockWarm: modifier($block, warm);
$blockCold: modifier($block, cold);

.#{$block} {
  width: 230px;
  height: 45px;
  padding: 6px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: em(14);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  outline: none;

  &--warm {
    background: #ee9ba3;
  }

  &--cold {
    background: #b8d1cb;
  }
}

:export {
  block: $block;
  blockWarm: $blockWarm;
  blockCold: $blockCold;
}
