.urlinput {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 280px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.urlinput .label {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 14px;
  color:  #F76C6C;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.urlinput .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #F76C6C;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.urlinput input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 8px 0;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(168, 193, 230);
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.urlinput input:not(:placeholder-shown) + span {
  color: #F76C6C;
  transform: translateY(-26px) scale(0.75);
}
.urlinput input:focus {
  background: none;
  outline: none;
}
.urlinput input:focus + span {
  transform: translateY(-26px) scale(0.75);
}
.urlinput input:focus + span + .border {
  transform: scaleX(1);
}
