@import '../../../scss/styles';

$block: inputwrapper;
$blockSmallMobile: inputwrapper--small-mobile;

.inputwrapper {
  display: flex;
  align-items: center;
  margin: 30px 0;

  &--small-mobile {
    flex-direction: column;
  }
}

:export {
  block: $block;
  blockSmallMobile: $blockSmallMobile;
}
