@import '../../../scss/styles';

$block: inputwrapper;
$blockMobile: modifier($block, mobile);

.inputwrapper {
  display: flex;
  align-items: center;
  margin: 30px 0;

  //change font-size of all h2 i h1 elements

  &--mobile {
    flex-direction: column;
  }
}

:export {
  block: $block;
  blockMobile: $blockMobile;
}
