@import '../../../scss/styles';

$block: error;

.#{$block} {
  position: relative;
  width: 200px;
  height: 44px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 41px;
  color: $color-white;
  text-align: center;
  background-color: $color-warning-loading;

  &::first-letter {
    font-size: 17px;
  }

  &::after {
    position: absolute;
    bottom: 15.5px;
    left: -5.5px;
    width: 10px;
    height: 10px;
    content: '';
    background: inherit;
    background-color: $color-warning-loading;
    transform: rotate(45deg);
  }
}

:export {
  block: $block;
}
