@import '../../scss/styles.scss';

.primarycard__wrapper {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $color-main-background;
    &--tablet {
      width: 100%;
      padding-left: 0;
    }
    h1 { 
      color: cadetblue;
    }
}

.primarycard__header-input-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
    height: max-content;
}

.primarycard__header {
    display: flex;
    align-items: center;
}

:export {
    block: primarycard__wrapper;
    blockTablet: primarycard__wrapper--tablet;
    headerInputWrapper: primarycard__header-input-wrapper;
  }

