@import '../../scss/styles.scss';

h1 { color: white; }

.primarycard__wrapper {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $color-main-background;
    padding-left: 20px;
    &--tablet {
        width: 100%;
        padding-left: 0;
    }
}

.primarycard__wrapperinner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}

.primarycard__sub-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: max-content;
}

.primarycard__header {
    display: flex;
    align-items: center;
}

.primarycard__btn-wrapper { display: flex; }

:export {
    block: primarycard__wrapper;
    blockTablet: primarycard__wrapper--tablet;
    blockInner: primarycard__wrapperInner;
    btnWrapper: primarycard__btn-wrapper;
    subWrapper: primarycard__sub-wrapper;
    headerWrapper: primarycard__header;
  }