@import '../../scss/styles.scss';

.section__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-ivory;
    &--generic {
      border-bottom: solid 1px #E4F0F7;
    }
    &--top {
      border-bottom: solid 1px #E4F0F7;
    }
    &--bottom {
      border-bottom: solid 1px #E4F0F7;
    }
}

.section__content-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 30px;
    > h2 {
      color: $color-main-font;
      font-size: 19px;
      margin-bottom: 0;
    }
    p {
      font-size: 13px;
      color: grey;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    p span {
      font-weight: 500;
      padding-left: 5px;
    }

    &--alert {
      color: $color-alert;
    }

    &--warning {
      color: $color-warning-loading;
    }

    &--info {
      color: $color-green-success;
      
    }
}

.section__lightbulb {
  position: absolute;
  right: 5px; 
  top: 5px;
}

.score__para {
  display: flex; 
  align-items: center;
}

:export {
    blockWrapper: section__wrapper;
    blockGeneric: section__wrapper--generic;
    blockTop: section__wrapper--top;
    blockBottom: section__wrapper--bottom;
    blockLightbulb: section__lightbulb;
    contentWrapper: section__content-wrapper;
    scorePara: score__para;
    blockAlert: section__content-wrapper--alert;
    blockWarning: section__content-wrapper--warning;
    blockInfo: section__content-wrapper--info;
}
