@import '../../scss/styles';

$block: sidecard;
$blockGeneric: modifier($block, generic);
$blockTop: modifier($block, top);
$blockBottom: modifier($block, bottom);
$blockContent: elem($block, content);
$blockContentAlert: modifier($blockContent, alert);
$blockContentWarning: modifier($blockContent, warning);
$blockContentInfo: modifier($blockContent, info);
$blockDesc: elem($block, desc);
$blockGenericDesc: modifier($blockDesc, generic);
$blockResultDesc: modifier($blockDesc, result);
$blockBulb: elem($block, bulb);
$blockScore: elem($block, score);

.#{$block} {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-inner-background);

  &--generic {
    border-bottom: 1px solid var(--color-main-background);
  }

  &--top {
    border-bottom: 1px solid var(--color-main-background);
  }

  &--bottom {
    border-bottom: 1px solid var(--color-main-background);
  }
}

.#{$blockContent} {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  > div > h2 {
    margin-bottom: 0;
    font-size: em(17);
    color: var(--color-header-font);
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-size: em(13);
    color: var(--color-very-small-font);
  }

  p span {
    font-weight: 500;
  }

  &--alert {
    color: $color-alert;
  }

  &--warning {
    color: $color-warning-loading;
  }

  &--info {
    color: $color-green-success;
  }
}

.#{$blockDesc} {
  display: flex;
  margin-bottom: 5px;

  &--generic {
    align-items: flex-end;
  }

  &--result {
    align-items: flex-end;
  }
}

.#{$blockBulb} {
  position: absolute;
  top: 5px;
  right: 5px;
}

:export {
  block: $block;
  blockGeneric: $blockGeneric;
  blockTop: $blockTop;
  blockBottom: $blockBottom;
  blockContent: $blockContent;
  blockContentAlert: $blockContentAlert;
  blockContentWarning: $blockContentWarning;
  blockContentInfo: $blockContentInfo;
  blockDesc: $blockDesc;
  blockGenericDesc: $blockGenericDesc;
  blockResultDesc: $blockResultDesc;
  blockBulb: $blockBulb;
}
