@import '../../scss/styles';

$block: sidecard;
$blockGeneric: sidecard--generic;
$blockTop: sidecard--top;
$blockBottom: sidecard--bottom;
$blockContent: sidecard__content;
$blockContentAlert: sidecard__content--alert;
$blockContentWarning: sidecard__content--warning;
$blockContentInfo: sidecard__content--info;
$blockDesc: sidecard__desc;
$blockGenericDesc: sidecard__desc--generic;
$blockResultDesc: sidecard__desc--result;
$blockBulb: sidecard__bulb;
$blockScore: sidecard__score;

.#{$block} {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $color-ivory;

  &--generic {
    border-bottom: solid 1px #e4f0f7;
  }

  &--top {
    border-bottom: solid 1px #e4f0f7;
  }

  &--bottom {
    border-bottom: solid 1px #e4f0f7;
  }
}

.#{$blockContent} {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  > div > h2 {
    margin-bottom: 0;
    font-size: 19px;
    color: $color-main-font;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-size: 13px;
    color: #808080;
  }

  p span {
    font-weight: 500;
  }

  &--alert {
    color: $color-alert;
  }

  &--warning {
    color: $color-warning-loading;
  }

  &--info {
    color: $color-green-success;
  }
}

.#{$blockDesc} {
  display: flex;
  margin-bottom: 5px;

  &--generic {
    flex-direction: column;
    align-items: flex-start;
  }

  &--result {
    align-items: flex-end;
  }
}

.#{$blockBulb} {
  position: absolute;
  top: 5px;
  right: 5px;
}

:export {
  block: $block;
  blockGeneric: $blockGeneric;
  blockTop: $blockTop;
  blockBottom: $blockBottom;
  blockContent: $blockContent;
  blockContentAlert: $blockContentAlert;
  blockContentWarning: $blockContentWarning;
  blockContentInfo: $blockContentInfo;
  blockDesc: $blockDesc;
  blockGenericDesc: $blockGenericDesc;
  blockResultDesc: $blockResultDesc;
  blockBulb: $blockBulb;
}
