//TODO: rename class
//TODO: at 1000px width 100% and flex-direction row, remove width and height, margin everywhere 20px

.results__wrapper { 
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
}

:export {
    block: results__wrapper;
}