@import '../../../../scss/styles';

$block: lighthouse-tabitem;
$blockActive: modifier($block, active);

.#{$block} {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  padding: 0 5px;
  font-size: em(12);
  text-align: center;
  cursor: pointer;
  background-color: #f4f5e1;

  &:not(:last-child) {
    border-right: 1px solid $color-white;
  }

  &:hover {
    color: $color-white;
    background-color: $color-grey;
    opacity: 0.8;
  }

  &--active {
    color: $color-white;
    background-color: $color-grey;
  }
}

:export {
  block: $block;
  blockActive: $blockActive;
}
