// COLOR VARIABLES

// Background
$color-main-background: #eceff1;
$color-main-background-dark: #121212; //Dark theme
$color-inner-background: #cfd8dc;
$color-inner-background-dark: #1d1d1d; //Dark theme

//Monochrome
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;

$color-grey-darktheme: #fff;

//Accent
$color-light-accent: #b0bec5;
$color-light-accent-dark: #373737; //Dark theme
$color-dark-accent: #90a4ae;
$color-dark-accent-dark: #545454; //Dark theme

$color-blue: #376685;
$color-light-blue: #a8c1e6;

$color-alert: #f76c6c;
$color-warning-loading: #ffaf10;
$color-green-success: #02af8e;

//Font colors
$color-small-font: #222;
$color-small-font-dark: #fff;  //Dark theme
$color-main-font: #558e90;

// # MAPPING SCSS VARS ONTO CSS VARS FOR THEMING

//Light mode
html {
  --color-main-background: #{$color-main-background};
  --color-inner-background: #{$color-inner-background};
  --color-light-accent: #{$color-light-accent};
  --color-dark-accent: #{$color-dark-accent};
  --color-grey: #{$color-grey};
}

//Dark mode
html.dark {
  --color-main-background: #{$color-main-background-dark};
  --color-inner-background: #{$color-inner-background-dark};
  --color-light-accent: #{$color-light-accent-dark};
  --color-dark-accent: #{$color-dark-accent-dark};
  --color-small-font: #{$color-small-font-dark};
  --color-grey: #{$color-grey-darktheme};
}
