// # COLOR VARIABLES

// Backgrounds
$color-main-background: #A8D0E6;
$color-lighthouse-background: #95c4de;
$color-lighthouse-background-dark: #8dbcd6;
$color-top-background: #24305e;
$color-bottom-background: #f76c6c;
$color-warning-loading: #ffaf10;
$color-green-success: #02AF8E;
$color-black: black;
$color-white: white;
$color-grey: grey;
//Other
