
$block: signin-input;

.#{$block}  {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
 }

 
:export {
    block: $block;
}