@import "../../../scss/styles";

$block: nav-wrapper;
$blockBackground: nav-wrapper-background;
$blockCloseWrapper: nav-wrapper-close;

.#{$block} {
    position: absolute;
    display: block;
    top:0;
    left:-300px;
    width: 0px;
    height: 100vh;
    background-color: $color-white;
    z-index: 100;
}

.#{$blockBackground} {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: $color-black;
}

.#{$blockCloseWrapper} {
   margin-left: 15px;
}

:export {
    block: $block;
    blockBackground: $blockBackground;
    blockCloseWrapper: $blockCloseWrapper;
}