@import "../../../scss/styles.scss";

.navigation__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: $color-black;
}

.navigation__wrapper {
    position: absolute;
    display: block;
    top:0;
    left:-300px;
    width: 0px;
    height: 100vh;
    background-color: $color-white;
    z-index: 100;
}

.navigationclose__wrapper {
   margin-left: 15px;
}


:export {
    blockBackground: navigation__background;
    block: navigation__wrapper;
    blockCloseWrapper: navigationclose__wrapper;
}