
/* CSS SPINNERS */
  
  @keyframes rotating {
    to {transform: rotate(360deg)}
  }
  
  .spinner {
    position: relative;
    width: 46px;
    height: 46px;
    margin-left: 20px;
    border-radius: 50%;
    border: 2px solid rgb(168, 193, 230);
    text-align: center;
  }
  .spinner:before {
    content: '';
    position: absolute;
    top: -3%;
    left: -3%;
    width: 46px;
    height: 46px;
    border-top: 3px solid #F76C6C;
    border-radius: 50%;
    border-right: 4px solid transparent;
    animation: rotating 2s linear infinite;
    filter: blur(1px);
  }
