@import "../../../../scss/styles.scss";

.inputbutton__wrapper {
    display: block;
    height: 44px;
    line-height: 44px;
    width: 120px;
    font-size: 12px;
    text-align: center;
    margin-left: 40px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    &--inactive {
      background-color: $color-blue;
      &:active {
        transform: translateY(2px);
      }
    }
    &--loading {
        background-color: $color-warning-loading;
    }
    &--error {
      background-color: $color-alert;
      width: 160px;
    }
    &--success {
      background-color: $color-green-success;
    }
}

:export {
  block: inputbutton__wrapper;
  blockInactive: inputbutton__wrapper--inactive;
  blockLoading: inputbutton__wrapper--loading;
  blockError: inputbutton__wrapper--error;
  blockSuccess: inputbutton__wrapper--success;
}