@import '../../../../scss/styles';

$block: inputbutton;
$blockInactive: modifier($block, inactive);
$blockLoading: modifier($block, loading);
$blockError: modifier($block, error);
$blockSuccess: modifier($block, success);
$blockMobile: modifier($block, mobile);

.#{$block} {
  display: block;
  width: 120px;
  height: 44px;
  margin-left: 50px;
  font-size: em(12);
  font-weight: 500;
  line-height: 44px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 0;
  outline: none;

  &--inactive {
    background-color: $color-blue;

    &:active {
      transform: translateY(2px);
    }
  }

  &--loading {
    background-color: $color-warning-loading;
  }

  &--error {
    width: 160px;
    background-color: $color-alert;
  }

  &--success {
    background-color: $color-green-success;
  }

  &--mobile {
    margin-top: 30px;
    margin-left: 0;
  }
}

:export {
  block: $block;
  blockInactive: $blockInactive;
  blockLoading: $blockLoading;
  blockError: $blockError;
  blockSuccess: $blockSuccess;
  blockMobile: $blockMobile;
}
