.bulb-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 100%;
  transform: translate(-20%, -50%);
}

.blink { animation: blink 5s infinite; }

.shine { fill: #ffd517; }

.hide { display: none; }

.show { display: block; }

@keyframes blink {
  50% { fill: #ffffbf; }
  50.5% { fill: #ffd517; }
  51% { fill: #fff; }
  51.5% { fill: #ffd517; }
  52% { fill: #ffffbf; }
  53% { fill: #ffd517; }
  54% { fill: #fff; }
  55% { fill: #ffd517; }
  56% { fill: #ffffbf; }
  57% { fill: #ffd517; }
  58% { fill: #fff; }
  59% { fill: #ffd517; }
  60.5% { fill: #ffffbf; }
}
